.postContainer {
    text-align: center;
}

.postContainer h3 {
    margin-bottom: .2em;
}

.postContainer img {
    max-width: 800px;
}

.postContainer .tags {
    display: flex;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
}

.tags {
    font-weight: bold;
}